.~?
.~
*.a
*.d
*.o
xSWO
*.bak
*.~
*.~?
./build/**
./Debug/**
./Release/**

config.mak
docs/
CVS/
SPARQLfedParser/SPARQLfedParser.cpp
SPARQLfedParser/SPARQLfedParser.hpp
SPARQLfedParser/location.hh
SPARQLfedParser/position.hh
SPARQLfedParser/stack.hh
TurtleSParser/location.hh
TurtleSParser/position.hh
TurtleSParser/stack.hh
TurtleSParser/TurtleSParser.cpp
TurtleSParser/TurtleSParser.hpp
TurtleSScanner.cpp
SPARQLfedScanner.cpp
target
build
build/xSWO.build
./build/xSWO.build
./build/xSWO.build
/build/*
/build
//build/**
.#*
*.d
*~
quadbag
quadbag.o
.idea
xSWO.kdev4
